/*======= Start Navivation Section =======*/

.navbar{
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-dark .navbar-nav .dropdown-menu{
	text-transform: uppercase;
  	font-weight: 700;
  	font-size: 0.9rem;
  	letter-spacing: 0.1rem;
  	background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-nav li{
  	padding-right: 1rem;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item {
	color: white;
	padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:hover {
	color: rgb(0, 157, 220);
}
/*======= End Navivation Section =======*/

/*======= Start Formulário Section =======*/

#formClientes, #formFuncionario, #formImoveis{
	padding-top: 6rem;
}

#forms .jumbotron{
	padding-top: 1.5rem;
}

#forms h3.heading{
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

#pivo{
	margin-bottom: 3rem;
}

#pivo label{
	font-weight: 700;
}

#pivo .btn-primary{
	margin: 1rem 0rem;
	padding: .375rem 3rem;
}

.form-check{
	padding: 0rem !important;
}

.form-check .form-check-input{
	margin: 0.1rem 0.2rem;
	width: 1.3rem;
    height: 1.3rem;
}

.form-check .form-check-label{
	margin-left: 2rem;
	font-size: 1.1rem;
}

select option:before{
	margin: 0rem 0.75rem;
}

/*======= End Formulário Section =======*/

/*======= Start Tables Section =======*/
#tables .jumbotron .container .table tbody tr td, #tables .jumbotron .container .table tbody tr th{
	color: black;
}

#pivoTable{
	margin-bottom: 5rem;
}

#pivoTable .text-center{
	margin-top: -6rem;
}

#pivoTable h3.heading{
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*======= End Tables Section =======*/

@media (max-width: 767px){
	.table-responsive .table{
		font-size: 0.7rem;
	}
}